//Definindo variáveis----------
$corContent: rgb(8, 8, 10);
$corTexto: white;

//Funcão para aplicar cores-----
@mixin mudarTema($corContent: rgb(31, 31, 36)) {
    background-color: $corContent !important;
    color: $corTexto !important;
}

//Checando estado do Toggle----
#switch{
    &:checked ~ *{
        $corTexto: white;

        //Chamando a função----
        @include mudarTema(rgb(31, 31, 36));

    }
    &:checked ~ * input{
        $corTexto: white;

        //Chamando a função----
        @include mudarTema(rgb(42, 187, 255));

    }
    &:not(:checked) ~ *{
        $corTexto: black;
        $corContent: rgb(239, 239, 255);
    }
    &:not(:checked) ~ * input{
        $corTexto: black;

        //Chamando a função----
        @include mudarTema(rgb(250, 171, 0));
    }
}

//Escondendo o Toggle---------
#switch{
    display: none;
}

//Zerando os valores----------
*{
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
}

//Estilos--------------------

b{
    font-weight: 700;
    color: rgb(255, 0, 85);
}

header{
    padding-top: 1vw;
    text-align: right;
    padding-right: 2vw;
    font-size: 1vw;
    height: 30vh;
    width: auto;
}

#ativar{
    cursor: pointer;
}

#campo{
    height: 4vh;
    width: 30vh;
    margin-top: 1vw;
    border-radius: 5vw 5vw 5vw 0;
    border: none;
    font-size: 3vh;
}

.textoNormal{
    font-size: 3vh;
    
}

.content{
    height: 70vh;
    width: auto;
    padding: 0 5vw 0 5vw;
}